<div class="card px-4"><br>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %><br />
  <%= render "devise/shared/error_messages", resource: resource %><br />

  <div class="form-group">

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E mail" %><br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div><br />
  <% end %>

  <div class="form-group">

    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="form-group">

    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation" %><br />
  </div>

  <div class="form-group">
  <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password" %>
  </div><br>

<div class="btn-group">
    <%= link_to "Back", :back, class: "btn btn-primary mr-2 rounded" %>
    <%= f.submit "Update" , class: "btn btn-success mr-2 rounded", data: {confirm: "Are you sure"}%>
<% end %>
</div>
  <br>
  <br>

<h3>Cancel my account</h3>
<p>Are you unhappy with your account?

<div class="btn-group">
<%= button_to "Deactivate", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mr-2 rounded"%></p>

<br>
<br>
<br>
</div>
</div>
