<div class="card px-4">
<h1>Favorites:</h1>

<%if @user_favorites != nil && !@user_favorites.empty?%>
  <%@user_favorites.each do |favorite| %>
    <%item = favorite.item%>
      <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <%if item.photo.attached?%>
                <%=image_tag(item.photo, size: '200')%>
                <% end %>
            </div>
            <div class="col">
                <div class="card-block px-2"><br>
                    <h3 class="card-title"><%= item.title %></h3>
                    <h4 class="card-number">$<%= item.price %></h4>
                    <p class="card-text">Description: <%=item.description%></p>
                     <div class="btn-group">
                <%= button_to "View", item_path(item), method: :get, :class => "btn btn-primary mr-2 rounded"%>
                <%= button_to "Unfavor", unfavor_path(favorite), method: :delete ,class: "btn btn-danger mr-2 rounded"%>

                <%= link_to "Buy", new_transaction_path(:item_id => item.id),:class => "btn btn-success mr-2 rounded"%>
                </div>
                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
            <%= item.category%>, <%= item.user.location%>
        </div>
        </div>
      <% end %>
      <%else%>
      <h5> You haven't liked anything yet! </h5>  
<% end %>
</div>
