<!doctype html>
<html lang="en">
  <head>

  </head>

<body>
<h1>MarketPlace</h1><br>


    <% if @items != nil%>
    <% @items.each do |item| %>

  <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <%if item.photo.attached?%>
                <%=image_tag(item.photo, size: '200')%>
                <%else%>
                <%=image_tag('assets/images/image.png', size: '200')%>
                <% end %>
            </div>
            <div class="col">
                <div class="card-block px-2"><br>
                    <h3 class="card-title"><%= item.title %></h3>
                    <h4 class="card-number">$<%= item.price %></h4>
                    <p class="card-text">Description: <%=item.description%></p>
                     <div class="btn-group">
                <%= button_to "View", item_path(item), method: :get, :class => "btn btn-primary mr-2 rounded"%>
                <%= button_to "Favorite", add_favorite_path, method: :post ,:class => "btn btn-primary mr-2 rounded", params: { user_id: current_user.id ,item_id: item.id }%>
                <%= button_to "Buy", new_transaction_path, method: :post ,:class => "btn btn-success mr-2 rounded", params: { user_id: current_user.id ,item_id: item.id }%>
                </div>
                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
            <%= item.category%>, <%= item.user.location%>
        </div>
  </div>
  <br>
       <%end%>
    <%end%>


</body>
</html>


