<!doctype html>
<html lang="en">
  <head>

  </head>

<body>
<h1>MarketPlace</h1><br>


    <% if @items != nil%>
    <% @items.each do |item| %>
        
  <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <%if item.photo.attached?%>
                <%=image_tag(item.photo, size: '200')%>
                <%else%>
                <%= image_tag("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fproperty.berkeley.edu%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fpanopoly_image_original%2Fpublic%2FIcon_Items_For_Sale.png%3Fitok%3DV_rIMLoE&f=1&nofb=1", size: 200) %> 
                <% end %>
            </div>
            <div class="col">
                <div class="card-block px-2"><br>
                    <h3 class="card-title"><%= item.title %></h3>
                    <h4 class="card-number">$<%= item.price %></h4>
                    <p class="card-text">Description: <%=item.description%></p>

                     <div class="btn-group">
                <%= button_to "View", item_path(item), method: :get, :class => "btn btn-primary mr-2 rounded"%>
            <%if Favorite.where(user_id: current_user.id, item_id: item.id) == [] %>
                <%= button_to "Favorite", add_favorite_path, method: :post ,:class => "btn btn-primary", params: { user_id: current_user.id ,item_id: item.id }%>
            <% else %>
                <%= button_to "Unfavor", unfavor_path(Favorite.where(user_id: current_user.id, item_id: item.id).ids), method: :delete ,class: "btn btn-danger"%>
            <% end %>
                <%= link_to "Buy", new_transaction_path(:item_id => item.id), class: "btn btn-success mr-2 rounded"%>
                </div>

                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
            <%= item.category%>, <%= item.user.location%>
        </div>
        </div>
  <br>
       <%end%>
    <%end%>

</body>
</html>
