<h1>MarketPlace</h1>

<% if @items%>
<% @items.each do |item| %>
<div class="card-deck">

    
    <div class="card">
    <%fav = Favorite.find_by(user_id: current_user.id, item_id: item.id)%>
        <div class="card-body">
            <h4 class="card-title"><%= item.title %></h4>
            <h6 class="card-number">$<%= item.price %></h6>
            <p class="card-title">Category: <%= item.category %></p>
            <p class="card-text"><td><%= item.description %></td></p>
            <%= link_to "View", item_path(item), :class => "btn btn-primary"%>
            <%if Favorite.where(user_id: current_user.id, item_id: item.id) == [] %>
                <%= button_to "Favorite", add_favorite_path, method: :post ,:class => "btn btn-primary", params: { user_id: current_user.id ,item_id: item.id }%>
            <% else %>
                <%= button_to "Unfavor", unfavor_path(Favorite.where(user_id: current_user.id, item_id: item.id).ids), method: :delete ,class: "btn btn-danger"%>
            <% end %>
        </div>
    </div>
    <%end%>
<% end %>


