<p id="notice"><%= notice %></p>

<div class="card px-4"><br>
<h1> Items For Sale:</h1>
<table class="table table-hover table">
  <thead>
    <tr>
      <th scope="col"  style="width: 4%">#</th>
      <th scope="col" style="width: 16%">Title</th>
      <th scope="col" style="width: 16%">Description</th>
      <th scope="col" style="width: 16%">Category</th>
      <th scope="col" style="width: 16%">Price</th>
      <th scope="col" style="width: 16%">Posted On</th>
      <th colspan="5" style="width: 16%"></th>
    </tr>
  </thead>
  <tbody>
  <%i = 1%>
    <% @items.each do |item| %>
      <th scope="row"><%= "#{i}"%></th>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.category %></td>
        <td>$<%= item.price %></td>
        <td><%= item.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to 'View', item, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: 'btn btn-primary' %></td>
        <td><%= button_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
      </tr>
      <%i += 1%>
    <% end %>
  </tbody>
</table>

<%= link_to 'List Another Item', new_item_path ,class: 'btn btn-success'%><br>
</div>
<br>
<br>
<br>
<div class="card px-4"><br>
<h1>Transaction History:</h1>

<table class="table table-hover table">
  <thead>
    <tr>
      <th scope="col"  style="width: 4%">#</th>
      <th scope="col" style="width: 16%">Title</th>
      <th scope="col" style="width: 16%">Description</th>
      <th scope="col" style="width: 16%">Category</th>
      <th scope="col" style="width: 16%">Price</th>
      <th scope="col" style="width: 16%">Sold On</th>
      <th colspan="5" style="width: 16%"></th>
    </tr>
  </thead>
  <tbody>
  <%i = 1%>
    
        <%@bought_items.each do |item|%>
      <th scope="row"><%= "#{i}"%></th>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.category %></td>
        <td>$<%= item.price %></td>
        <td><%= Transaction.find_by(item_id: item.id).created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to 'View', item, class: 'btn btn-primary float-right' %></td>
      </tr>
        <%i += 1%>
  <%end%>
  </tbody>
</table>
</div>
<br>





