<div class="card" style="width: 18rem;">
  
  <div class="card-body" data-toggle="modal">
  <%if @item.photo.attached?%>
    <%=image_tag @item.photo%>
  <% end %>
    <h5 class="card-title"><%= @item.title %></h5>
    <p class="card-text"><%=@item.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: $<%=@item.price%></li>
    <li class="list-group-item">Category: <%=@item.category%></li>
    <li class="list-group-item">Seller: <%= @item.user.first_name%></li>
  </ul>
  <div class="card-body">


    <% if @item.user_id == current_user.id %>
        <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-outline-success"%> 
        <%= link_to 'Back', items_path ,class: "btn btn-outline-success" %>
    <%else%>
         <%= button_to "Favorite", add_favorite_path, method: :post ,:class => "btn btn-primary", params: { user_id: current_user.id ,item_id: @item.id }%>
        <%= link_to 'Back', root_path ,class: "btn btn-outline-success" %>
    <%end%>
  </div>
</div>