<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @item.user.first_name %>
</p>

<p>
  <strong>Seller's Email:</strong>
  <%= @item.user.email %>
</p>

<% if @item.user_id == current_user.id %>
<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-outline-success"%> 
<%= link_to 'Back', items_path ,class: "btn btn-outline-success" %>
<%else%>
<%= link_to 'Back', items_path ,class: "btn btn-outline-success" %>
<%end%>