<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.first_name %>
</p>

<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-outline-success"%> 
<%= link_to 'Back', items_path ,class: "btn btn-outline-success" %>



